<h1>Pictures</h1>
<% flash.each do |message_type, message| %>
  <div class="flash-message" <%= message_type %>><%= message %></div>
<% end %>

<% @post_images.each do |post_image| %>
  <p>
    <%= link_to post_image_path(post_image.id) do %>
      <%= image_tag post_image.image, size: "300x300" %>
    <% end %>
  </p>
  <% if post_image.favorited_by?(current_user) %>
    <p>
      <%= link_to post_image_favorite_path(post_image), method: :delete do %>
        ♥<%= post_image.favorites.count %> いいね
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to post_image_favorite_path(post_image), method: :post do %>
        ♡<%= post_image.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  <p>コメント件数:<%= post_image.post_comments.count %></p>
  <p><%= link_to user_path(post_image.user_id) do %>
       <%= post_image.user.name %>
     <% end %>
  </p>
  <p><%= post_image.body %></p>
  <p>
    <% post_image.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </p>
  <span><i class="fa-solid fa-location-dot"></i> <%= post_image.address %></span>
<% end %>