<h1><i class="fa-regular fa-image"></i>Post</h1>
<div>
  <%= flash.now[:alert] %>
</div>

<%= form_with model: @post_image, url: post_images_path, method: :post do |f| %>
<h4>Picture</h4>
<%= f.file_field :image,accept: "image/*" %>
<h4>Caption</h4>
<%= f.text_field :body %>
<h4>Tag（「、」で区切ると複数タグを登録できます）</h4>
<%= f.text_field :name, class: 'form-control' %>
<div class="input-group mb-3 mt-4">
      <div class="input-group-prepend">
        <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-tenge-sign"></i></span>
      </div>
      <%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "郵便番号" %>
    </div>
    <div class="input-group mb-3 mt-4">
      <div class="input-group-prepend">
        <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
      </div>
      <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
    </div>
<%= f.submit '投稿する' %>

<% end %>

<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>