<div class="container-fluid">
    <h1 class="text-center p-5"><i class="fa-regular fa-image"></i>新規投稿</h1>
    <%= flash.now[:alert] %>
    <% if @post_image.errors.any? %>
        <%= @post_image.errors.count %>件のエラーが発生しました %>
        <ul>
            <% @post_image.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    <% end %>


    <%= form_with model: @post_image, url: post_images_path, method: :post do |f| %>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    投稿写真
                　　<span class="text-danger">*</span>
                </td>
                <td><%= f.file_field :image,accept: "image/*", required: true %></td>
            </tr>
            <tr>
                <td>
                    タイトルまたは投稿本文
                    <span class="text-danger">*</span>
                </td>
                <td><%= f.text_field :body, class: "form-control", placeholder: "タイトルまたは投稿本文", required: true %></td>
            </tr>
            <tr>
                <td>
                    タグ(「、」で区切るとタグを複数登録)
                <span class="text-danger">*</span>
                </td>
                <td><%= f.text_field :name, class: 'form-control', placeholder: "タグ欄", required: true %></td>
            </tr>
            <tr>
                <td>郵便番号</td>
                <td>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-tenge-sign"></i></span>
                        </div>
                        <%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "郵便番号" %>
                    </div>
                </td>
            </tr>
            <tr>
                <td>住所</td>
                <td>
                    <div class="input-group mb-3 mt-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
                        </div>
                        <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <div class="d-flex">
                        <%= f.submit '投稿する' %>
                        <p class="text-danger">「*」は必須</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <% end %>
</div>
<%= javascript_pack_tag "jpostal",  'data-turbolinks-track': 'reload' %>