<div>
<h1>タグが"<%= @tag.name %>"の投稿一覧</h1>
<!--タグリスト(これまでのタグ数とそのタグにつけられた投稿の総数を表示-->
<% @tag_list.each do |list| %>
  <i class="fa-sharp fa-solid fa-tag"></i>
  <%= link_to list.name, search_tag_path(tag_id: list.id) %>
  <%= "(#{list.post_images.count})" %>
<% end %>
</div>

<div>
<!--タグに紐づけられた投稿を表示-->
<% @post_images.each do |post_image| %>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image(300, 300) %>
  <% end %>
  <%= link_to post_image.user.name, user_path(post_image.user.id) %>
  <%= post_image.body %>
  いいね×<%=post_image.favorites.count %>
  コメント×<%=post_image.post_comments.count %>
<% end %>
</div>