<div class="container">
    <% if @model == 'user' %>
    <h2 class="text-center p-5"><i class="fa-solid fa-magnifying-glass"></i>User search for "<%= @content %>"</h2>
    <table class="table text-center">
        <thead class="table-success">
            <tr>
                <th><i class="fa-solid fa-circle-user"></i>プロフィール写真</th>
                <th><i class="fa-solid fa-user"></i>ユーザー名</th>
                <th><i class="fa-solid fa-pen"></i>ひと言</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @records.each do |record| %>
            <tr>
                <td><%= image_tag record.get_profile_image(100,100), class:"rounded-top border border-primary" %></td>
                <td><%= record.name %></td>
                <td><%= record.introduction %></td>
                <td><%= link_to "詳細を見る", user_path(record), class: "btn btn-primary" %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    <% else %>
    <h2 class="text-center p-5"><i class="fa-solid fa-magnifying-glass"></i>Tags search for "<%= @content %>"</h2>
    <table class="table text-center">
        <thead class="table-success">
            <tr>
                <th><i class="fa-solid fa-images"></i>投稿写真</th>
                <th><i class="fa-solid fa-user"></i>投稿者名</th>
                <th><i class="fa-solid fa-pencil"></i>投稿本文</th>
                <th><i class="fa-solid fa-heart-circle-plus"></i>いいね数</th>
                <th><i class="fa-solid fa-comments"></i>コメント数</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @records.each do |record| %>
            <tr>
                <td><%= image_tag record.get_image(150,100) %></td>
                <td><%= link_to record.user.name, user_path(record.user.id) %></td>
                <td><%= record.body %></td>
                <td>いいね×<%= record.favorites.count %>件</td>
                <td>コメント×<%= record.post_comments.count %>件</td>
                <td><%= link_to "詳細を見る", post_image_path(record.id), class: "btn btn-primary" %></td>
            </tr>
            <% end %>
       </tbody>
    </table>
<% end %>
</div>