<h1>ユーザー投稿管理一覧</h1>

<% @post_images.each do |post_image| %>
  <p>
    <%= link_to admin_post_image_path(post_image.id) do %>
      <%= image_tag post_image.get_image(300,300) %>
    <% end %>
  </p>
    <p>
        いいね数×<%= post_image.favorites.count %>
    </p>
  <p>コメント件数:<%= post_image.post_comments.count %></p>
  <p><%= link_to admin_user_path(post_image.user_id) do %>
       <%= post_image.user.name %>
     <% end %>
  </p>
  <p><%= post_image.body %></p>
  <!--タグリスト-->
  <p>
    <% post_image.tags.each do |tag| %>
    <i class="fa-sharp fa-solid fa-tag"></i>
      <%= link_to tag.name, admin_tags_path %>
      <%= "(#{tag.post_images.count})" %>
    <% end %>
  </p>
  <span><i class="fa-solid fa-location-dot"></i> <%= post_image.address %></span>
<% end %>
