<div class="container">
    <h2 class="text-center p-5"><i class="fa-solid fa-camera"></i>ユーザー投稿情報詳細</h2>

    <div class="row">
        <div class="col-lg-5 mb-5">
            <div class="mb-3">
              <%= image_tag @post_image.user.get_profile_image(60,60), class:"rounded-top border border-primary" %>
              <%= link_to @post_image.user.name, admin_user_path(@post_image.user_id) %>
            </div>
            <div class="mb-3">
                <%= image_tag @post_image.get_image(470,310) %>
            </div>

            <table class="table table-borderless">
                <tbody class="text-left">
                    <tr>
                        <td colspan="2"><%= @post_image.body %></td>
                    </tr>
                    <tr>
                        <td colspan="2"><i class="fa-solid fa-location-dot"></i><%= @post_image.address %></td>
                    </tr>
                    <!--タグリスト-->
                    <tr>
                        <td colspan="2">
                            <% @post_image.tags.each do |tag| %>
                                <i class="fa-sharp fa-solid fa-tag"></i>
                                <%= link_to tag.name, admin_tags_path %>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><i class="fa-solid fa-heart-circle-plus"></i>いいね数×<%= @post_image.favorites.count %>件</td>
                    </tr>
                    <tr>
                        <td colspan="2"><i class="fa-solid fa-comment"></i>コメント数×<%= @post_image.post_comments.count %>件</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-6">
            <h4 class="text-center p-3"><i class="fa-solid fa-comments"></i>コメント欄</h4>
            <table class="table">
                <tbody class="text-center">
                    <% @post_image.post_comments.each do |post_comment| %>
                    <tr>
                        <td><%= image_tag post_comment.user.get_profile_image(50,50), class:"rounded-top border border-primary" %></td>
                        <td><%= post_comment.user.name %></td>
                        <td><%= post_comment.comment %></td>
                        <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <!--地図-->
    <div class="container">
        <div id="map"></div>
    </div>
</div>
<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
