<div class="container">
    <h2 class="text-center p-5"><i class="fa-solid fa-camera"></i>ユーザー投稿情報詳細</h2>

    <div class="row">
        <div class="col-5 mb-5">
            <div class="mb-3">
              <%= image_tag @post_image.user.get_profile_image(50,50) %>
              <%= link_to @post_image.user.name, admin_user_path(@post_image.user_id) %>
            </div>
            <div class="mb-3">
                <%= image_tag @post_image.get_image(470,310) %>
            </div>
        </div>

        <div class="col-5">
            <div class="mt-5 mb-3"><%= @post_image.body %></div>
            <!--タグリスト-->
            <div>
                <% @post_image.tags.each do |tag| %>
                    <i class="fa-sharp fa-solid fa-tag"></i>
                    <%= link_to tag.name, admin_tags_path %>
                <% end %>
            </div>
            <div><i class="fa-solid fa-location-dot"></i><%= @post_image.address %></div>
            <div><i class="fa-solid fa-heart-circle-plus"></i>いいね数×<%= @post_image.favorites.count %>件</div>
            <div class= "mb-3"><i class="fa-solid fa-comment"></i>コメント数×<%= @post_image.post_comments.count %>件</div>
            <div>
                <div>
                    <table class="table">
                        <tbody class="text-center">
                            <% @post_image.post_comments.each do |post_comment| %>
                            <tr>
                                <td><%= image_tag post_comment.user.get_profile_image(50,50) %></td>
                                <td><%= post_comment.user.name %></td>
                                <td><%= post_comment.comment %></td>
                                <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


<div class="container">
  <div id="map"></div>
</div>
</div>
<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
