<div class="container">
    <h2 class="text-center p-5">ユーザーログイン</h1>
    <% if flash[:danger] %>
        <p class="text-red"><%= flash[:danger] %></p>
    <% end %>

    <div class="row">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="col-md-8 mb-3">
                <label class="form-label">メールアドレス</label>
                <span class="text-danger">*</span>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true  %>
            </div>
            <div class="col-md-8 mb-3">
                <label class="form-label">パスワード</label>
                <span class="text-danger">*</span>
                <%= f.password_field :password, autocomplete: "current-password", required: true  %>
            </div>
            <% if devise_mapping.rememberable? %>
            <div class="col-md-8 mb-3">
                <%= f.check_box :remember_me %><%= f.label :ログイン情報を保存する %>
            </div>
            <% end %>

            <div class="col-md-8 mb-3">
                <%= f.submit "ログイン", class:"btn btn-success" %>
            </div>

            <div class="col-md-8 mb-3">
                <%= render "public/shared/links" %>
            </div>
        <% end %>
    </div>
</div>