<div class="container">
    <h2 class="text-center p-5"><i class="fa-solid fa-gear"></i>ユーザー情報編集</h2>
    <% flash.each do |message_type, message| %>
        <div class="flash-message" <%= message_type %>><%= message %></div>
    <% end %>

    <div class="row">
        <%= form_with model: @user, url: user_path(@user.id), method: :patch do |f| %>
        <div class="col-md-8 mb-3">
            <label class="form-label">プロフィール写真</label>
            <span class="text-danger"></span>
            <%= f.file_field :profile_image, accept: 'image/*' %>
        </div>

        <div class="col-md-12 mb-3">
            <label class="form-label">ユーザー名（2〜20文字以内）</label>
         　　<span class="text-danger">*</span>
         　　<%= f.text_field :name, class: "form-control", placeholder: "2〜20文字以内" , required: true %>
        </div>

        <div class="col-md-12 mb-3">
            <label class="form-label">ひと言（50文字以内）</label>
            <%= f.text_field :introduction, class: "form-control", placeholder: "任意" %>
        </div>

        <% if @user == current_user %>
        <div class="col-md-12 mb-3">
            <label class="form-label">メールアドレス</label>
            <p><%= @user.email %></p>
        </div>
        <% end %>

        <div class="col-md-12 mb-3">
           <%= f.submit '編集を保存する', class:"btn btn-success" %>
        </div>

        <div class="col-md-12 mb-3">
           <%= link_to "退会する", user_unsubscribe_path, class:"btn btn-danger" %>
        </div>
       <% end %>
    </div>
</div>