<div class="container">
    <h2 class="text-center p-5"><i class="fas fa-heart" aria-hidden="true" style="color: red;"></i><%= @user.name %>さんがいいねした投稿一覧</h2>

    <% @favorites_post_images.each do |post_image| %>
    <div class="row d-flex flex-wrap mb-5">
        <div class="col-lg-4">
            <div>
                <%= link_to  post_image_path(post_image) do %>
                    <%= image_tag post_image.get_image(320,480), class:"img-rounded img-responsive" %>
                <% end %>
            </div>
        </div>

        <div class="col-lg-8">
            <div>
                <%= image_tag post_image.user.get_profile_image(100,70) %>
            </div>

            <div class="mb-4">
                <%= link_to post_image.user.name, user_path(@user) %>
            </div>

            <div><%= post_image.body %></div>
            <div><i class="fa-solid fa-location-dot"></i> <%= post_image.address %></div>
            <!--タグリスト-->
            <div>
                <% post_image.tags.each do |tag| %>
                    <i class="fa-sharp fa-solid fa-tag"></i>
                    <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
                    <%= "(#{tag.post_images.count})" %>
                <% end %>
            </div>
            <!--いいねの表示-->
            <% if post_image.favorited_by?(current_user) %>
            <div>
                <%= link_to post_image_favorite_path(post_image), method: :delete do %>
                    <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                    <%= post_image.favorites.count %> いいね
                <% end %>
            </div>
            <% else %>
            <div>
                <%= link_to post_image_favorite_path(post_image), method: :post do %>
                    ♡<%= post_image.favorites.count %> いいね
                <% end %>
            </div>
            <% end %>
            <div><i class="fa-solid fa-comment"></i>コメント件数:<%= post_image.post_comments.count %></div>
        </div>
    </div>
    <% end %>
</div>