<% flash.each do |message_type, message| %>
  <div class="flash-message" <%= message_type %>><%= message %></div>
<% end %>
<h1><%= @user.name %>さんのページ</h1>
<p><%= image_tag @user.get_profile_image(100,100) %></p>
<p><%= @user.name%></p>
<p><%= @user.introduction%></p>
<p><%= link_to "いいね一覧", favorites_user_path(@user) %></p>
<!--ゲストログインユーザーの場合、編集ボタンは表示されない-->
<% unless @user.guest_user? %>
<div class="row">
  <%= link_to edit_user_path(@user),class: "btn btn-outline-secondary btn-block edit_user_#{@user.id}" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
</div>
<% end %>
<h2>投稿履歴</h2>
<% @post_images.each do |post_image| %>
  <%= link_to post_image_path(post_image.id) do %>
      <%= image_tag post_image.image, size: "200x200" %>
  <% end %>
  <p><%= post_image.body %></p>
  <p>いいね×<%= post_image.favorites.count %></p>
  <p>コメント数×<%= post_image.post_comments.count %></p>
<% end %>
